html, body {
  background-color: #f1f3f5;
  font-family: 'Open Sans Condensed', sans-serif;
  color: rgb(51, 68, 85);
}

.main-title {
  color: rgb(116, 95, 181);
}

.subtext {
  color: rgb(158, 170, 182);
}

.small {
  font-size: 11px;
}

.day {
  font-size: 0.8rem;
  padding-top: 4px;
  line-height: 7px;
}

.bars {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}