html, body {
  background-color: #f1f3f5;
  font-family: 'Open Sans Condensed', sans-serif;
  color: rgb(51, 68, 85);
}

.main-title {
  color: rgb(116, 95, 181);
}

.subtext {
  color: rgb(158, 170, 182);
}

.small {
  font-size: 11px;
}

.day {
  font-size: 0.8rem;
  padding-top: 4px;
  line-height: 7px;
}

.bars {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

h4 {
  font-size: 1.1rem;
}

.card-percentage {
  display: absolute;
  position: absolute;
  top: 41px;
  right: 5px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#totalTrendingPercentage {
  position: absolute;
  top: 2px;
  right: 29px;
  font-size: 0.8rem;
}

.trending-percentage {
  font-size: 0.7rem;
  padding-top: 4px;
  line-height: 7px;
}