html, body {
  background-color: #f1f3f5;
  font-family: 'Open Sans Condensed', sans-serif;
  color: rgb(51, 68, 85);
}

.main-title {
  color: rgb(116, 95, 181);
}

.subtext {
  color: rgb(158, 170, 182);
}

.small {
  font-size: 11px;
}

.day {
  font-size: 0.8rem;
  padding-top: 4px;
  line-height: 7px;
}

.bars {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

h4 {
  font-size: 1.1rem;
}

.card-percentage {
  display: absolute;
  position: absolute;
  top: 41px;
  right: 5px;
}

#totalTrendingPercentage {
  position: absolute;
  top: 2px;
  right: 29px;
  font-size: 0.8rem;
}

.trending-percentage {
  font-size: 0.7rem;
  padding-top: 4px;
  line-height: 7px;
}

.chart {
  width: 100%; 
  min-height: 250px;
}

.info-cards div.card {
  cursor: pointer;
  transition: height 0.3s, box-shadow 0.3s;
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.5);
}

.info-cards div.card:hover, .info-cards div.card.info-card-active {
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
}

.btn-malefemale span {
  cursor: pointer;
  transition: height 0.3s, box-shadow 0.3s;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
}

.btn-malefemale span:hover, .btn-malefemale.btn-malefemale-active span{
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
}

/* Material icons */

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.btn-app {
  padding: .155rem .35rem;
  font-size: 1rem;
  line-height: 1.3;
  border-radius: 1.5rem;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* color */
.material-icons.orange600 { color: #FB8C00; }